*
{
    margin: 0;
    font-family: sans-serif;
}
.main1
{
    display: flex;
    gap: 20px;
    align-items: center;
}
.main2
{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.sec2
{
    width: 1440px;
    height: 646px;
    margin: auto;
    background-image: url(./522e6a5f380cba7232041d621d835a77aaeaf072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.inner2
{
    background-color: #3559C7;
    color: white;
    width: 300px;
    text-align: center;
    padding: 20px 0 0 0;
    margin-left: 1135px;
    margin-top: 330px;
    
}
.pback
{
    background-color: black;
    text-align: center;
    padding: 5px;
    width: 140px;
    
}
.pnext
{
    background-color: black;
    text-align: center;
    padding: 5px;
    width: 159px;
}
.inner201
{
    display: flex;
    gap: 2px;
}
.inner1 
{
    font-size: 40px;
    margin-left: 50px;
    width: 600px;
    
}
.hour
{
    text-align: center;
    padding: 20px 0;
}
.pnullam
{
    color: grey;
}
.cont1
{
    padding: 20px;
    border: 1px solid orange;
    width: 250px;
    border-radius: 15px;
}
.flex
{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.sec3
{
    margin-top: 50px;
}
.sec04
{
    position: relative;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    
}
.img1
{
    width: 800px;
}
.img2
{
    width: 300px;
    position: absolute;
    left: 700px;
    top: 100px;
}